{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/posts.css') }}">
  <div class="container">
    <h1>{{thread.subject}}</h1>
      {% if session.logged_in %}
      <a class="btn btn-success" href="/add_post/{{thread.id}}">Add Post</a><br><br>
      {% endif %}
  </div>
  <br>


  {% for r in rv %}
  <div class="container">
  <div class="col-md-10">
      <div class="row">
          <div class="col-md-12">

                  <div class="row">


                        <div class="panel panel-default panel-horizontal">
                            <div class="panel-heading text-center" style="width:10em;">
                                <span><h3>{{r.author}}</h3></span>
                                <span>Member</span>
                                <hr />
                                <div class="email" style="padding-top: 10px;">Posted</div>
                                <!--custom time format in jinja-->
                                <span><h5>{{r.post_created.strftime('%B %d, %Y %-H:%M')}}</h5><span>
                            </div>

                            <div class="panel-body">


                        <div class="col-xs-12 col-md-12 section-box">

                            <h5 class="text-capitalize text-muted">{{r.author}}'s post</h5>
                            <hr \>
                            <p>{{r.post | safe}}</p> <!--safe is used to get rid of paragraph tags-->

                        </div>

                            </div>
                            <div class="panel-footer text-center" style="width:8em;">
                              <table class="table">
                                <tr>
                                  <td>BMW Forum</td>
                                </tr>

                              {% if session['username'] == r.author %} <!-- shows button just where user posted -->
                                <tr><td>
                                <a href="/edit_post/{{r.id}}" style="width:100%;" class="btn btn-default">Edit</a>
                              </td></tr>
                              <tr><td>
                                <form  action="{{url_for('delete_post', id=r.id)}}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="Delete" style="width:100%;" class="btn btn-danger">

                                </form>

                               {% endif %}

                             </td>
                             </tr>
                             </table>
                            </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
      {% endfor %}

{% endblock %}
